@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #FC8070;
  --secondary: #FF6957;
  --tertiary: #25364E;
  --quaternary: #192d49;
  --white: #fff;
  --black: #000;
  --gray: #ccc;
  --light-red: #FFAFA6;
  --dark-gray: #333;
  --light-green: #AACEA7;

  font-family: 'Poppins', sans-serif;	
}

body {
  overflow: hidden;
}

.App.light {
  background-color: var(--primary);
}

.App.dark {
  background-color: var(--tertiary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
