.tasklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 1rem;
    width: max-content;
    border: 1px dashed var(--white);
    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: 768px) {
        width: max-content;
    }
}

.App.light .tasklist_addtask {
    background-color: var(--secondary);
    color: var(--white);
}

.App.dark .tasklist_addtask {
    background-color: var(--quaternary);
    color: var(--white);
}

.tasklist_addtask {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}