.task {
  display: flex;
  align-items: center;
	justify-content: space-between;
	gap: 2rem;
	width: 25rem;
	border-radius: 8px;
	padding: 0.5rem 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	@media (max-width: 768px) {
		width: 90%;
	}
}

.App.light .task {
	background-color: var(--light-red);
	color: var(--dark-gray);
}

.App.dark .task {
	background-color: var(--light-blue);
	color: var(--white);
}

.task_content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: auto;
}

.task_conteiner {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.task span {
  font-size: 16px;
	font-weight: 500;
  padding: 5px;
  cursor: pointer;
	width: auto;
}

.task_menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: auto;
}