.task {
  display: flex;
  align-items: center;
	justify-content: space-between;
	gap: 2rem;
	width: 25rem;
	background-color: var(--light-red);
	color: var(--dark-gray);
	border-radius: 8px;
	padding: 0.5rem 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	@media (max-width: 768px) {
		width: 100%;
	}
}

.task_content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
}

.task_conteiner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 0.5rem;
}

/* .task input[type="text"] {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
} */

.task span {
  font-size: 16px;
	font-weight: 500;
  padding: 5px;
  cursor: pointer;
}
