h1 {
  color: var(--white);
  font-weight: 400;
}

.start_buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.time_buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.timer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
